.image_powerpoint {
    background-color: #cbe5fe;
    margin: 20rm;
    margin-bottom: 50rm;

    .single_service {
        background-color: #fff;
        padding: 30px;
        margin-top: 60px;
        margin-bottom: 30px;
    }

    .powerpoint-images {
        margin-top: 30px;
        margin-bottom: 30px;
    }














}