.image_powerpoint {
    background-color: #cbe5fe;

    .single_service {
        background-color: #fff;
        padding: 30px;
        margin-top: 60px;
        margin-bottom: 30px;
    }















}